
.menu{
    display: flex;
    background-color: black;
    color: white;
    list-style: none;
    padding: 20px;
    font-size: 30px;
    justify-content: space-around;
}

.main{
    display: flex;
}

.profile{
    padding-left: 300px;
    padding-right: 100px;

}
.center{
    display: flex;
    flex: 1;
}


.myprofile{
    padding-left: 30px;
}

.connections{
    padding-left: 30px;
}

.button{
    background-color: rgb(8, 177, 177);
    color: white;
}


.container{
    width: 700px;
    height: 600px;
    margin-left: 325px;
    margin-top: 50px;
    border: 1px solid black;
}

.top-nav {
    height: 150px;
    background-color: rgb(25, 140, 168);
}

#User{
    width: 125px;
    height: 125px;
    padding-top: 85px;
    padding-left: 50px;
}

h1{
    font-size: 50px;
    padding-left: 50px;
}

#Marker{
    height: 30px;
    width: 20px;
    padding-left: 50px;
}
.location{
    font-size: 30px;
}

.Achievements{
    padding-left: 50px;
    font-size: 25px;
    list-style: none;
}

.gear{
    padding-left: 50px;
    height: 25px;
    width: 25px;
}

a{
    font-size: 25px;
}

.requests{
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 50px;
    width: 500px;
    height: 400px;
}

.bar{
    background-color: grey;
    height: 50px;
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.names{
    display: flex;
}

#todd{
    width: 80px;
    height: 80px;
    margin: 20px;
}

#phil{
    width: 80px;
    height: 80px;
    margin: 20px;
}

.namesforpictures{
    margin: 20px;
}

.toddname{
    padding: 35px 15px;
}

.choice{
    display: flex;
    padding: 40px 50px
}
.yes{
    width: 60px;
    height: 60px;
    padding-right: 10px;
}

.no{
    width: 60px;
    height: 60px;
}

.philchoice{
    display: flex;
    padding: 20px 50px
}

.yes1{
    width: 60px;
    height: 60px;
    padding-right: 10px;
}

.no1{
    width: 60px;
    height: 60px;
}

.added{
    border: 1px solid black;
    margin-top: 0px;
    margin-left: 1080px;
    width: 500px;
    height: 600px;
}

#friends{
    display: flex;
}

#adrien{
    width: 80px;
    height: 80px;
    margin: 20px;
}

#anne{
    width: 80px;
    height: 80px;
    margin: 20px;
}

#alayne{
    width: 80px;
    height: 80px;
    margin: 20px;
}

#arry{
    width: 80px;
    height: 80px;
    margin: 20px;
}

.adrienname{
    padding-top: 30px;
}

.annename{
    padding-top: 75px;
}

.alayne{
    padding-top: 75px;
}

.arry{
    padding-top: 75px;
}

.bottom{
    border: 1px solid black;
    position: relative;
    top: -200px;
    margin-left: 325px;
    width: 700px;
    margin-bottom: 200px;
    height: 200px;
}

span{
    background-color: grey;
    color: white;
    font-size: 30px;
    width: 300px;
    justify-content: center;
}

p{
    justify-content: center;
}